snippet ulc "unordered list cheatsheet" w
\begin{itemize}[leftmargin=*]
	\item $1
\end{itemize}
endsnippet

snippet olc "ordered list cheatsheet" w
\begin{enumerate}[leftmargin=*]
	\item $1
\end{enumerate}
endsnippet
